body {
	background-image: url("bg.png");
	background-size: cover;
	font-family:  sans-serif;
	font-weight: bold;
	justify-content: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
}

.flex{
  display: flex;
  justify-content: space-between;
  padding-right: 1vw;
}

.first,.second
{
	color: #a23f2d;
}


#box,#box2 {
	background-color: white;
	opacity: 80%;
	text-align: center;
	font-size: 1.8vw;
	width: 74vw;
	margin-left: 13vw;
	padding-top: 1vw;
	padding-left: 1vw;
	border-radius: 4vw;
  animation-name: shiftbox;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
#box2 {
	height: 35vw;
	padding: 1.2vw;
}

@keyframes shiftbox {
  0%   {margin-left: 13vw ;width: 74vw}
  25%  {margin-left: 15vw ;width: 70vw}
  50%  {margin-left: 17vw ;width: 66vw}
  75%  {margin-left: 15vw ;width: 70vw}
  100% {margin-left: 13vw ;width: 74vw}
}

@keyframes bombcolor {
  0%   {background-color: white}
  50%  {background-color: black}
  100% {background-color: white}
}

.status {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.head {
	font-size: 2vw;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.bombvisible {
	color: black;
	animation-name: bombcolor;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.gamegrid{
	background: #a23f2d;
	width: 32.3vw;
	height: 25.5vw;
	margin: 1vw auto;
	padding: 1.5vw;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(15,1fr);
	grid-template-rows: repeat(12,1fr);
	column-gap: 0.18vw;
	row-gap: 0.18vw;
	border-radius: 3vw;
}
.cell{
	height: 1.9vw;
	width:  1.9vw;
	color: tomato;
	
	background: tomato;
	
	justify-content: center;
	align-items: center;
}
.cell:hover{
	cursor: pointer;
	color: #a23f2d;
	background: #a23f2d;
}

.clicked,.clicked:hover {
	background-color: white;
	color: tomato;
	cursor: default;
}

.hintbutton:hover,.helpmenu:hover,.LeaderBoard:hover{
	color: tomato;
	cursor: pointer;
}

.sw,.elp{
	color: white;
}
.started{
	color: black;
}

.over:hover{
	color: tomato;
	cursor: default;
	background-color: tomato;
}